<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<Configuration status="INFO">-->
<!--    <Appenders>-->
<!--        <Console name="console" target="SYSTEM_OUT">-->
<!--            <PatternLayout-->
<!--                    pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %highlight{%-6p} %style{%pid}{magenta} -&#45;&#45; [%t] %c{1.} – %m%n" />-->
<!--        </Console>-->
<!--    </Appenders>-->
<!--    <Loggers>-->
<!--        <Logger name="org.apache.atlas" level="off" additivity="false">-->
<!--            <AppenderRef ref="console" />-->
<!--        </Logger>-->
<!--        <Root level="info" additivity="false">-->
<!--            <AppenderRef ref="console" />-->
<!--        </Root>-->
<!--    </Loggers>-->
<!--</Configuration>-->